<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Personas</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <td>ID</td>
                    <td>NOMBRE</td>
                    <td>APELLIDO PATERNO</td>
                    <td>APELLIDO MATERNO</td>
                    <td>EMAIL</td>
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor ="let persona of personas" class="text-center">
                       <td>{{persona.id}}</td>
                       <td>{{persona.data.nombre}}</td>
                       <td>{{persona.data.apellidoPat}}</td>
                       <td>{{persona.data.apellidoMat}}</td>
                       <td>{{persona.data.email}}</td>
                       <td>
                           <button (click)= "Editar(persona)" class="btn btn-warning">Editar</button>
                           <button (click)="Delete(persona)" class="btn btn-danger">Delete</button>
                       </td>
                   </tr>
                </tbody>
            </table>
            <button (click)="DeleteAll()"  class="btn btn-primary" style="align-items: center;">Eliminar Personas</button>

        </div>
    </div>
</div>
